<!-- hw/templates/hw/base.html -->

{% load static %}
<html>
    <head>
        <title>Hello, world!</title>
        <link rel="stylesheet" href="{% static 'static.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'home_page' %}">home</a></li>
            <li><a href="{% url 'about_page' %}">about</a></li>
        </nav>
        <!-- put page specific content here -->
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        The current time is {{time}}.
    </footer>
</html>