<!-- Author: Valentina Mora (vmora19@bu.edu), 12/03/2025 -->
<!-- Description: HTML page to update a profile object -->

<!-- project/update_profile_form.html 
    display the html form to update a profile object
-->

{% extends 'project/base.html' %}

{% block content %}
<h1 class="subheading">Update Profile</h1>

<form action="{% url 'update_profile' profile.pk %}" 
      method="POST" 
      enctype="multipart/form-data"
      class="form-container">
    
    {% csrf_token %}
    
    <div class="form-fields">
        {{ form.as_p }}
    </div>

    <div class="form-actions">
        <button type="submit" class="submit-btn">Update</button>
        <a href="{% url 'show_profile' profile.pk %}" class="cancel-btn">Cancel</a>
    </div>

</form>

{% endblock %}