<!-- blog/article.html -->
{% extends 'blog/base.html' %}
<h1>{{article.title}}</h1>

{% block content %}
<div>
    <!-- scriplet code for a for loop -->
    <div>
        <h2>{{article.title}}</h2>
        <h3>by {{article.author}}</h3>
        <p>{{article.text}}</p>
        
        <img src="{{article.image_url}}">
    </div>
    <hr>

    <!-- display the comments about this article -->
    <!-- {{article.get_all_comments}} -->
    {% for comment in article.get_all_comments %}

    <div>
        <strong>by {{comment.author}} at {{comment.published}}</strong>
        <p>
            {{comment.text}}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}