nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #450920;
}
  
nav ul li {
    float: center;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #a53860;
}

html{
    background-color: #f9dbbd;
}

h1{
    color: #a53860;
    text-align: center;
}

h2{
    padding-top: 1%;
    text-align: center;
    color: #450920;
}

p{
    text-align: center;
    color: #450920
}

#content-container{
    margin: auto;
    max-width: 60%;
    outline-style: dotted;
}

footer{
    text-align: center;
    background-color: #450920;
    color: white;
    padding: 2%;
    bottom: 0;
    width: 100%;
    margin-top: 2%;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

#form-content{
    width: 80%;
    margin: auto;
}

#form-content h2{
    text-align: left;
}

#customer-info{
    margin-bottom: 5%;
}

#instructions{
    width: 50%;
    height:10%;
}

#order-confirmation{
    width: 80%;
    text-align: left;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 5%;
}

#order-confirmation p{
    text-align: left;
}

#instagram-container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#i-container{
    height: 100vh;
}

#insta-profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    border: 8px solid #450920;
}

#insta-container-name{
    background-color: #450920;
    color: white;
}

#insta-container-name h2{
    color: white;
}

#insta-profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

footer .white-house {
    color: white;
    font-size: calc(8px + 2vw);
  }

#mini-insta-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
}

*{
    margin: 0;
}

#insta-bio{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #450920;
    padding: 3% 0%;
    color: white;
    text-align: center;
    font-size: calc(3px + 2vw);
}

#insta-bio-name{
    width: 60%;
    margin: auto;
}

#insta-bio-image{
    width: 40%;
    margin: auto;
}

#posts-heading{
    text-align: center;
    font-size: calc(3px + 2vw);
    color: white;
    background-color: #450920;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

#posts-container{
    width: 80%;
    margin: auto;
    padding-bottom: 25%;
}

#posts-container p{
    margin: auto;
}

#post-caption{
    background-color: #450920;
    margin: auto;
    width: 50%;
    padding: 2% 0;
}

#post-caption p{
    color: white;
    text-decoration: none;
}

#view-height{
    height: 100vh;
}

footer{
    color: white;
}

#post-content{
    padding-top: 5%;
    padding-bottom: 25%;
}

.update-profile-button{
    background-color: #a53860;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.update-profile-button a{
    text-decoration: none;
    color: white; 
}

.button-container{
    padding-top: 4%;
}

input[type=submit]{
    background-color: #a53860;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

#post-options{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    margin-top: 4%;
    font-size: calc(3px + 2vw);
}

#post-delete{
    width: 35%;
    background-color: #a53860;
    margin: auto;
    padding: 5% 5%;
    border-radius: 5%;
}

#post-delete a{
    text-decoration: none;
    color: white;
}

#post-update{
    width: 35%;
    background-color: #a53860;
    margin: auto;
    padding: 5% 5%;
    border-radius: 5%;

}

#post-update a{
    text-decoration: none;
    color: white;
}

#create-post-link a{
    color: white;
    text-decoration: none;
}

#profile-container{
    background-color: #450920;
    color: white;
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    padding-top: 2%;
}

#profile-container-left{
    padding-left: 5%;

}

#profile-container-right{
    padding-left: 5%;
    padding-top: 3%;
}

#profile-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#space-container{
    margin-bottom: 5%;
}

#profile-container-right a{
    color: white;
    text-decoration: none;
}

#insta-bio-name h3 a{
    color: white;
    text-decoration: none;
}

#search-link a{
    color: white;
    text-decoration: none;
}

#logout-button{
    background-color: #450920;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 1% 0;
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-family: "Arial", sans-serif;
    font-size: calc(1px + 1vw);
}

nav ul li:hover {
    background-color: #a53860;
}

#logout-button:hover{
    background-color: #a53860;
}

#liked-button{
    background-color: #1c030c;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-family: "Arial", sans-serif;
    font-size: calc(2px + 2vw);
    padding: 2% 2%;
    margin-top: 2%;


}

#unliked-button{
    background-color: #450920;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-family: "Arial", sans-serif;
    font-size: calc(2px + 2vw);
    padding: 2% 2%;
    margin-top: 2%;


}