nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #450920;
}
  
nav ul li {
    float: center;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #a53860;
}

html{
    background-color: #f9dbbd;
}

h1{
    color: #a53860;
    text-align: center;
}

h2{
    padding-top: 1%;
    text-align: center;
    color: #450920;
}

p{
    text-align: center;
    color: #450920
}

#content-container{
    margin: auto;
    max-width: 60%;
    outline-style: dotted;
}

footer{
    text-align: center;
    background-color: #450920;
    color: white;
    padding: 2%;
    bottom: 0;
    width: 100%;
    margin-top: 2%;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

#form-content{
    width: 80%;
    margin: auto;
}

#form-content h2{
    text-align: left;
}

#customer-info{
    margin-bottom: 5%;
}

#instructions{
    width: 50%;
    height:10%;
}

#order-confirmation{
    width: 80%;
    text-align: left;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 5%;
}

#order-confirmation p{
    text-align: left;
}

#insta-profile h2, h3{
    text-align: center;
    color: white;
}

#insta-profile{
    margin-top: 2%;
    margin-bottom: 2%;

}

#insta-profile img {
    border-radius: 5%;
  }

#insta-container{
    width:30%;
    display: flex;
    flex-direction: row;
    background-color: #a53860;
    margin: auto;
    border-radius: 25%;
    padding: 5% 0;
}

#insta-container-name{
    width: 30%;
    padding-left: 5%;
}

#insta-container-image{
    width: 70%;
}

footer .white-house {
    color: white;
    font-size: calc(8px + 2vw);
  }