<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

    {% block content %}
    <h2>Welcome!!</h2>
    <p>{{about}}</p>
    <p>This application displays quotes by and images of <a href="https://en.wikipedia.org/wiki/Oscar_Wilde" target="_blank">Oscar Wilde</a>.</p>
    <p>Oscar Wilde was a poet, playwright, novelist, and critic, known for his wit, flamboyance, and epigrams. He was born in Ireland and raised in England until he eventually became the author that we know and love. He is best known for his novel <em>The Picture of Dorian Gray</em>.</p>
    {% endblock %}