<!-- Author: Valentina Mora (vmora19@bu.edu), 09/23/2025 -->
<!-- Description: base HTML page to be used as template for other HTML pages -->

<!-- mini_insta/templates/mini_insta/base.html -->
{% load static %}
<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" type="text/css" href="{% static 'static.css' %}">
    </head>
    <body>
        <h1>Mini Insta</h1>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>
                {% if request.user.is_authenticated %}
                {% if profile %}
                <li><a href="{% url 'show_profile' profile.pk %}">Show Profile</a></li>
                {% endif %}
                <li>
                    <form action="{% url 'logout_confirmation' %}" method="post" style="display:inline;">
                         {% csrf_token %}
                         <button type="submit" value="Logout" id="logout-button">
                             Logout
                         </button>
                     </form> 
                 </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                Logged in as: {{request.user}}
            {% else %}
                No one is logged in.
            {% endif %}
        </nav>
        <!-- substitute in the specific content here -->
        {% block content %}
        {% endblock %}
    </body>
    <footer id="mini-insta-footer">
        {% if profile %}
            {% if request.user.is_authenticated and request.user == profile.user %}
            <p><a href="{% url 'show_feed' %}"><span class="white-house">🏠</span></a></p>
            <p id="create-post-link"><a href="{% url 'create_post' %}">Create Post</a></p>
            <p id="search-link"><a href="{% url 'show_search' %}">Search</a></p>
            {% endif %}
        {% endif %}
    </footer>
</html>