<!-- Author: Valentina Mora (vmora19@bu.edu), 10/22/2025 -->
<!-- Description: HTML page to create a profile object -->

<!-- mini_insta/create_profile_form.html 
    display the html form to create a profile object
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Create Profile</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h2>User Account Info</h2>
    <table>
        {{ user_form.as_table }}
    </table>
    
    <h2>Profile Info</h2>
    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" name="submit" value="Create Profile">
</form>

<form action="{% url 'show_all_profiles' %}" method="GET">
    <input type="submit" value="Cancel">
</form>

{% endblock %}
