<!-- Author: Valentina Mora (vmora19@bu.edu), 09/23/2025 -->
<!-- Description: display the html form to create a new post object -->

<!-- mini_insta/templates/mini_insta/create_post_form.html -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Create a new Post</h1>

<form action="{% url 'create_post' profile.pk %}" method="POST"
enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>

    <input type="file" name="files" multiple>
    <!-- Image URL: <input type="text" name="image_url" value=""> -->
    <br>

    <input type="submit" name="submit" value="Submit">
    <input type="submit" name="cancel" value="Cancel">

</form>


{% endblock %}