<!-- Author: Valentina Mora (vmora19@bu.edu), 09/30/2025 -->
<!-- Description: HTML page to be used as for showing single post -->

<!-- mini_insta/templates/mini_insta/show_post.html -->
{% extends 'mini_insta/base.html' %}
<!-- this displays a single Post. -->

{% block content %}
    <p>{{post.caption}} at {{post.timestamp}}</p>

    {% for photo in post.get_all_photos %}
        {% if photo.get_image_url %}
            <img src="{{ photo.get_image_url }}">
        {% endif %}
    {% endfor %}


{% endblock %}