<!-- mini_insta/show_profile.html -->
{% extends 'mini_insta/base.html' %}
<!-- this displays a single Profile. -->

{% block content %}
<div>
    <!-- scriplet code for a for loop -->
    <div id="insta-profile">
        <div id="insta-container">
            <div id="insta-container-name">
                <h2>{{profile.username}}</h2>
                <h3>{{profile.display_name}}</h3>
                <h3>{{profile.bio_text}}</h3>
                <h3>{{profile.join_date}}</h3>
                <h3>Followers: </h3>
                <h3>Following: </h3>
                <h3>Posts: </h3>
            </div>
            <div id="insta-container-image">
                <img src="{{profile.profile_image_url}}">
            </div>
        </div>            
    </div>
    <hr>
</div>
{% endblock %}