<!-- Author: Valentina Mora (vmora19@bu.edu), 09/24/2025 -->
<!-- Description: HTML page to be used as for showing single profile -->

<!-- mini_insta/templates/mini_insta/show_profile.html -->
{% extends 'mini_insta/base.html' %}
<!-- this displays a single Profile. -->

{% block content %}
<div id="view-height">
    <!-- scriplet code for a for loop -->
        <div id="insta-bio">
            <div id="insta-bio-name">
                <h2>{{profile.username}}</h2>
                <h3>{{profile.display_name}}</h3>
                <h3>{{profile.bio_text}}</h3>
                <h3>Joined: {{profile.join_date}}</h3>
                <h3>Followers: </h3>
                <h3>Following: </h3>
                <button><a href="{% url 'update_profile' profile.pk %}">Update</a></button>
            </div>
            <div id="insta-bio-image">
                <img src="{{profile.profile_image_url}}">
            </div>
        </div>
            
        <h3 id = "posts-heading">Posts</h3>
        <!-- display the posts about this profile -->
        <div id="posts-container">
            {% for post in profile.get_all_posts %}

            <a href="{% url 'show_post' post.pk %}">
                <div>
                    {% with first_photo=post.get_first_photo %}
                        {% if first_photo %}
                            <img src="{{ first_photo.image_url }}">
                        {% else %}
                            <img src="https://media.istockphoto.com/id/1500807425/vector/image-not-found-icon-vector-design.jpg?s=612x612&w=0&k=20&c=SF3EoL0zSi3XUwFzduMo3xdJFEk8V5IUsGqRocgPEtU=">
                        {% endif %}
                    {% endwith %}
                    <div id="post-caption">
                        <p><strong>{{ post.profile }}</strong> {{ post.timestamp }}</p>
                        <p>{{ post.caption }}</p>
                    </div>
                        
                </div>
            </a>    
            {% endfor %}  
            
        </div>
</div>
{% endblock %}