<!-- Author: Valentina Mora (vmora19@bu.edu), 10/07/2025 -->
<!-- Description: HTML page to update a profile object -->

<!-- mini_insta/update_profile_form.html 
    display the html form to update a profile object
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Update Profile</h1>

<form action="{% url 'update_profile' profile.pk %}" method="POST"
enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>

    <input type="submit" name="submit" value="Update">
</form>

<form action="{% url 'show_profile' profile.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>


{% endblock %}